#searchBar {
  margin: 10px 10px;
}

h1 {
  padding-top: 30px;
}

h2 {
  padding-top: 20px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #3ABF50;
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: f2f2f2;
    padding: 5px;
}

.milligram {
  color: #9b4dca;
}
