#searchBar {
  margin: 10px 10px;
}

h1 {
  padding-top: 30px;
}

h2 {
  padding-top: 20px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  border-radius: 5px;
  border: 2px ridge #eee;
}

input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #3ABF50;
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: f2f2f2;
    padding: 5px;
}

/* for all buttons in milligram stylesheet- default, outline, clear */
button.button{
    margin: 10px;
}

.milligram {
  color: #9b4dca;
}

#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
}
